:root {
  --background: #121212;
  --background2: #1e1e1e;
  --text: #b3b3b3;
  --important: #e0e0e0;
  --acent: #b23a48;
  --link: #3a7ca5;
  --btn: #4caf50;
  --alert: #ffb74d;
  --primary: #ff6f61;
  --hover: #a0a0a0;
}
@media (max-width: 700px) {
  .header {
    @apply h-[10vh] bg-[color:var(--background)];
  }
  .header__logo {
    @apply flex h-full;
  }
  .header__nav {
    @apply absolute w-full max-h-0 transition-all duration-[0.3s] ease-[ease-in] overflow-hidden top-[10vh];
  }
  .header__nav.visible {
    @apply max-h-[280px];
  }
  .header__list {
    @apply flex-col w-full gap-0;
  }
  .header__item:nth-of-type(1) {
    @apply border-t-[color:var(--important)] border-t border-solid;
  }
  .header__item {
    @apply w-full h-[70px] border-b-[color:var(--important)] p-0 rounded-none border-b border-solid;
  }
  .header__btn {
    @apply flex absolute text-[40px] text-[color:var(--text)] right-[2vh] top-[2vh] hover:text-[color:var(--btn)];
  }
  .section_inicio {
    @apply gap-[30px];
  }
  .section_inicio__titulo1 {
    @apply flex-col;
  }
  .section_inicio__frase1 {
    @apply text-3xl;
  }
  .section_inicio__frase2 {
    @apply text-3xl text-center;
  }
  section.section_sobreMi {
    @apply h-fit min-h-fit mb-[50px];
  }
  .section_sobreMi__container:nth-of-type(1) {
    @apply pr-0;
  }
  .section_sobreMi__containerGeneral {
    @apply grid-cols-[1fr] grid-rows-[2.9fr_1fr];
  }
  .section_proyectos__img {
    @apply w-4/5 h-fit justify-self-center flex m-auto;
  }
  .section_proyectos__contenedorProyectos {
    @apply gap-0;
  }
  .section_proyectos__proyecto {
    @apply h-fit flex items-center flex-col;
    justify-content: start;
  }
  .section_proyectos__proyecto img {
    @apply max-w-full object-contain;
  }
  .section_proyectos__proyecto h3 {
    @apply text-[10vw] whitespace-nowrap overflow-hidden text-ellipsis;
    text-size-adjust: 100%;
  }
  .section_proyectos__div {
    @apply w-full h-fit;
  }
  .section_proyectos__btnVerMas {
    @apply mt-[50px];
  }
  .formulario {
    @apply mb-10;
  }
  .form__label {
    @apply w-full float-none;
  }
  .form {
    @apply px-[10%] py-0;
  }
  .footer-social a {
    @apply text-sm;
  }
}
